$white: #ffffff;
$black: #333333;

$gray: #DDDDDD;
$green-blue: #45aca4;
$green: #009245;
$yellow: #d1ca3f;
$light-orange: #ff7d59;
$orange: #ff5d30;
$dark-orange: #cc2e0e;
$red: #c64f4f;
$brown: #b29b5b;
