<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>play technical</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="PlayApp">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid" ng-controller="ProfileCtrl">
      <div class="row highlight">
        <div class="col-xs-12 col-md-6 p70">
          <div class="flex justify-between mb20">
            <div class="w20">
              <img ng-src="{{ user.info.image }}" class="w100 circle" />
            </div>

            <div class="w75">
              <h2>{{ user.info.name }}</h2>

              <div class="mb20 small">
                <img src="images/SmallTickIcon.png" class="icon" />
                {{ user.info.goals_complete }} goals complete this week
                &nbsp;|&nbsp;
                <img src="images/SmallSpannerIcon.png" class="icon" />
                {{ user.info.problems_owned }} open problems owned
              </div>

              <div class="flex justify-between">
                <span>
                  Level 12
                </span>
                <span>
                  15,200/18,000 XP
                </span>
              </div>

              <progress-bar percentage="0.84"></progress-bar>
            </div>
          </div>

          <div class="flex justify-between mb20">
            <b>BADGES ({{ user.info.total_badges }})</b>

            <a href="#" class="w20">
              <img src="images/ViewAllButton.png" class="w100" />
            </a>
          </div>

          <div class="flex justify-between">
            <img src="images/RedBadge.png" class="w15" />
            <img src="images/OrangeBadge.png" class="w15" />
            <img src="images/BlueBadge.png" class="w15" />
            <img src="images/PinkBadge.png" class="w15" />
            <img src="images/GreenBadge.png" class="w15" />
          </div>
        </div>


        <div class="col-xs-12 col-md-6 p70">
          <div class="flex justify-between mb20">
            <h2>Personal Skills</h2>

            <a href="#" class="w20">
              <img src="images/ViewAllButton.png" class="w100" />
            </a>
          </div>

          <div class="flex justify-between mb10" ng-repeat="skill in user.skills">
            <img ng-src="images/{{ skill.name | ucfirst }}Icon.png" class="w10" />

            <p class="w25">{{ skill.name | ucfirst }}</p>

            <progress-bar percentage="skill.score" class="w60"></progress-bar>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="flex justify-between">
            <h3>Activity</h3>

            <a href="#" class="w25">
              <img src="images/AddActivityButton.png" class="w100" />
            </a>
          </div>

          <hr class="mb30">

          <div ng-repeat="feedItem in user.feed track by $index" class="mb30">
            <day-separator ng-if="isNewDay($index)" day="feedItem.timestamp"></day-separator>

            <div class="flex justify-between">
              <img ng-src="{{ feedItem.image }}" class="w10" />

              <p class="w65">{{ feedItem.copy }}</p>

              <span class="badge success w10">{{ feedItem.xp }} XP</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="flex justify-between">
            <h3>My Assigned Problems</h3>

            <a href="#" class="w25">
              <img src="images/AddActivityButton.png" class="w100" />
            </a>
          </div>

          <hr class="mb30">

          <div ng-repeat="problem in user.problems">
            <problem problem="problem"></problem>
          </div>

          <hr>

          <div class="flex justify-between">
            <h3>Kudos</h3>

            <a href="#" class="w25" ng-click="giveKudos = true">
              <img src="images/GiveKudosButton.png" class="w100" />
            </a>
          </div>

          <div class="kudos" ng-show="giveKudos">
            <div class="flex justify-center">
              <div class="text-center p20">
                <h5>THIS WEEK</h5>
                <h1 class="circle success">{{ user.kudos.week_score }}</h1>
              </div class="text-center p20">
              <div>
                <h5>ALL TIME</h5>
                <h1 class="circle warning">{{ user.kudos.all_time }}</h1>
              </div>
            </div>

            <div class="flex justify-between" ng-repeat="kudos in user.kudos.kudos_feed">
              <img ng-src="{{ kudos.image }}" class="w10" />

              <div class="w85">
                <h6>{{ kudos.name }}</h6>
                <p>{{ kudos.copy }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/factories.js"></script>
    <script src="scripts/controllers.js"></script>
    <!-- endbuild -->
  </body>
</html>
